## Utilities

### Reading & Writing to CSV

In [26]:
using CSV
using DataFrames

f = "/Users/erfan/f2.csv" # In Windows you may need to use double-backslashes (\\Users\\user\\f.csv)

df = DataFrame(Name = ["Doctor Who", "The Master","Davros", "Face of Boe", "Erfan"], 
               Age = [2200, 2200, 1000, 100000000000000, 23],
               Race = ["Time Lord", "Time Lord", "Dalek", "Human", "Human"]
               )
println(df)
println("\n The oldest person is: ", maximum(df.Age), " years old and is a ", df.Race[findall(x->x==maximum(df.Age), df.Age)[1]])

CSV.write(f, df)
CSV.read(f)

5×3 DataFrame
│ Row │ Name        │ Age             │ Race      │
│     │ String      │ Int64           │ String    │
├─────┼─────────────┼─────────────────┼───────────┤
│ 1   │ Doctor Who  │ 2200            │ Time Lord │
│ 2   │ The Master  │ 2200            │ Time Lord │
│ 3   │ Davros      │ 1000            │ Dalek     │
│ 4   │ Face of Boe │ 100000000000000 │ Human     │
│ 5   │ Erfan       │ 23              │ Human     │

 The oldest person is: 100000000000000 years old and is a Human

5×3 DataFrame
│ Row │ Name        │ Age             │ Race      │
│     │ String      │ Int64           │ String    │
├─────┼─────────────┼─────────────────┼───────────┤
│ 1   │ Doctor Who  │ 2200            │ Time Lord │
│ 2   │ The Master  │ 2200            │ Time Lord │
│ 3   │ Davros      │ 1000            │ Dalek     │
│ 4   │ Face of Boe │ 100000000000000 │ Human     │
│ 5   │ Erfan       │ 23              │ Human     │

### Profiling

In [16]:
# Time for the whole loop
@time for i = 1:999
    i^20
end

function math_op(x, y)
    # Time for each multiplication 
    @time x.*y
end

# Time for the whole function calculation
@time math_op([10, 100, 1000, 10000], [20, 200, 2000, 20000])

  0.000005 seconds
  0.000000 seconds (1 allocation: 112 bytes)
  0.000135 seconds (102 allocations: 3.547 KiB)

4-element Array{Int64,1}:
       200
     20000
   2000000
 200000000