## Utilities

### Reading & Writing to CSV

In [87]:
using CSV
using DataFrames

f = "/Users/erfan/f2.csv" # In Windows you may need to use double-backslashes (\\Users\\user\\f.csv)

df = DataFrame(Name = ["Jon","Bill","Maria","Julia","Mark"], 
               Age = [22,43,81,52,27],
               Salary = [30000,45000,60000,50000,55000]
               )
println(df)
println("\nHighest Salary is: ", maximum(df.Salary))

CSV.write(f, df)
CSV.read(f)

5×3 DataFrame
│ Row │ Name   │ Age   │ Salary │
│     │ String │ Int64 │ Int64  │
├─────┼────────┼───────┼────────┤
│ 1   │ Jon    │ 22    │ 30000  │
│ 2   │ Bill   │ 43    │ 45000  │
│ 3   │ Maria  │ 81    │ 60000  │
│ 4   │ Julia  │ 52    │ 50000  │
│ 5   │ Mark   │ 27    │ 55000  │

Highest Salary is: 60000

5×3 DataFrame
│ Row │ Name   │ Age   │ Salary │
│     │ String │ Int64 │ Int64  │
├─────┼────────┼───────┼────────┤
│ 1   │ Jon    │ 22    │ 30000  │
│ 2   │ Bill   │ 43    │ 45000  │
│ 3   │ Maria  │ 81    │ 60000  │
│ 4   │ Julia  │ 52    │ 50000  │
│ 5   │ Mark   │ 27    │ 55000  │

In [15]:
nothing # Nothing type

### Profiling

In [16]:
# Time for the whole loop
@time for i = 1:999
    i^20
end

function math_op(x, y)
    # Time for each multiplication 
    @time x.*y
end

# Time for the whole function calculation
@time math_op([10, 100, 1000, 10000], [20, 200, 2000, 20000])

  0.000005 seconds
  0.000000 seconds (1 allocation: 112 bytes)
  0.000135 seconds (102 allocations: 3.547 KiB)

4-element Array{Int64,1}:
       200
     20000
   2000000
 200000000