# Julia Language

### Printing

In [29]:
print("Hello SNLP Students!\n")
println("Hello Again SNLP Students!") # Notice that after this print, a new line is formed
print("Hello Again and Again SNLP Students!")

Hello SNLP Students!
Hello Again SNLP Students!
Hello Again and Again SNLP Students!

### Variables

In [9]:
name = "Erfan"

"Erfan"

In [10]:
age = 2050

2050

In [54]:
println(name, " is ", age, " years old.")

Erfan is 2050 years old.

### Integers & Floating-Point Numbers

#### Integers

In [23]:
print(226)
typeof(226)

226

Int64

#### Floating-Point Numbers

In [24]:
print(3.14)
typeof(3.14)

3.14

Float64

#### Rational Numbers

In [12]:
6//9

2//3

In [13]:
5//-15

-1//3

In [15]:
# Since the numerator and denominator don't have common factors, they can't be reduced to lower terms
2//3

2//3

In [16]:
# Thanks to the promotion system, interaction with other numeric types is possible
3//5 + 1

8//5

### Mathematical Operations

#### Arithmetic Operators

In [13]:
2 + 2

4

In [15]:
10 - 4

6

In [18]:
30 * 4

120

In [19]:
100 / 2

50.0

In [20]:
100 ÷ 2

50

In [21]:
2^6

64

In [24]:
90 % 2

0

In [37]:
3 * 2 / 12

0.5

In [36]:
(2 + 2) * 3

12

#### Updating Operators
` +=  -=  *=  /=  \=  ÷=  %=  ^=`
##### To update a string use *= like "aa" *= "b"

#### Vectorized "dot" operators

In [17]:
[2, 3, 4].^2

3-element Array{Int64,1}:
  4
  9
 16

In [19]:
[2, 3, 4].*[3, 4, 5]

3-element Array{Int64,1}:
  6
 12
 20

In [66]:
cos.([30, 45, 90])

3-element Array{Float64,1}:
  0.15425144988758405
  0.5253219888177297
 -0.4480736161291702

#### Comparison Operatiors

In [47]:
2 == 2

true

In [48]:
10 != 100

true

In [49]:
2 < 3

true

In [50]:
3 > 9

false

In [52]:
# <= and >= for less/greater than or equal to comparisons

#### Chaining Operators

In [3]:
1 < 2 <= 2 < 3 == 3 > 2 >= 1 == 1 < 3 != 5

true

### Comments

In [46]:
# This is a single-line comment

#=
    This is a multi-line comment,
    and this is the second line,
    and the thrid line,
    and the fourth line :D
=#

### Strings

#### Characters

In [1]:
print('x')
typeof('x')

x

Char

#### String

In [2]:
print("Hello! This is 'Julia' talking!\n")
print("""Julia again, with "triple double quote" characters this time!""") # Notice " is used without escaping

Hello! This is 'Julia' talking!
Julia again, with "triple double quote" characters this time!

In [58]:
str = "Hello! This is 'Julia' talking!"
println(str[begin])
println(str[1]) # Most indexing in Julia, is 1-based! Yay or Meh?!
println(str[17])
println(str[end])
println(str[end-1])
println(str[17:21]) # Access a substirng through range indexing just like Python
println(firstindex(str), " & " , lastindex(str))
println(length(str)) #= Warning: Sometimes length() and lastindex() are not the same
    because some Unicode characters can occupy multiple "code units". =#

H
H
J
!
g
Julia
1 & 31
31

#### Concatenation

In [62]:
name = "Erfan"
l_name = "Akhavan"
println(string(name, "-", l_name))
print(name * "-" * l_name) # Just like + operator in Python

Erfan-Akhavan
Erfan-Akhavan

#### Interpolation

In [63]:
name = "Erfan"
l_name = "Akhavan"
"My name is $name $l_name" # Escape $ with \ if you want to use a literal $. Ex: I have \$1000!

"My name is Erfan Akhavan"

#### Regex

In [3]:
r"^\s*(?:#|$)"

r"^\s*(?:#|$)"

In [9]:
println(occursin(r"^\s*(?:#|$)", "# a comment")) # If it n
println(match(r"^\s*(?:#|$)", "# a comment").match)

true
#

### Constants

In [2]:
IS_AWESOME = true

true

### Functions

In [22]:
function add_numbers(x, y)
    x + y # Return is not needed unless in demanding situations, with other control flow
end

add_numbers(15, 3)

18

In [18]:
# Assignment form function must be a single expression
compact_add_numbers(x, y) = x + y

compact_add_numbers(2, 3)

5

In [21]:
function add_numbers(x, y)::Float64 # Specify return type
    x + y 
end

add_numbers(3, 3)

6.0

#### Anonymous Functions

##### Option 1

In [25]:
x -> x^2 + 2x - 1

#3 (generic function with 1 method)

##### Option 2

In [26]:
function (x)
    x^2 + 2x - 1
end

#5 (generic function with 1 method)

##### Example

In [32]:
# Anonymous function usage
map(x->x^2+1, [2,3,5])

3-element Array{Int64,1}:
  5
 10
 26

#### Multiple Return Values

In [50]:
function number_operations(x=3, y=2)
    x + y, x - y, x * y
end

number_operations(5, 4) # Can also destructure the tuple with variables

(9, 1, 20)

#### Variable Number of Arguments

In [61]:
function f(a,b,x...)
    (a + b) .* x
end

f(2, 3, 4, 5, 6)

(20, 25, 30)

#### Keyword Arguments

In [67]:
function write_text(txt, data; font="arial", fontSize, color="black")
    ###
end

write_text("text", "some data", fontSize=14)

#### Do-Block for Function Arguments

In [71]:
map([-1, 0, 2, 3]) do x
    if x < 0 && iseven(x)
        return 0
    elseif x == 0
        return 1
    else
        return x
    end
end

4-element Array{Int64,1}:
 -1
  1
  2
  3

#### Function composition and piping (chaining)

In [82]:
println((sqrt ∘ +)(3, 6))
# The same as below. Either (f ∘ g)(x, y) or f(g(x, y))
sqrt(+(3, 6))

3.0

3.0

### Control Flow

#### Compound Expressions

In [83]:
z = begin
    x = 1
    y = 2
    x + y
end

3

In [84]:
(x = 1;
    y = 2;
    x + y)

3

#### Conditionals

In [85]:
if x < y
    println("x is less than y")
elseif x > y
    println("x is greater than y")
else
    println("x is equal to y")
end

x is less than y

In [89]:
# Ternary Operator
x, y = 1, 2
x < y ? "less than" : "not less than"

"less than"

##### && and || Boolean Operators

In [105]:
println.([true && true,
false && true,
true || false,
false && true])

true
false
true
false

4-element Array{Nothing,1}:
 nothing
 nothing
 nothing
 nothing

#### Loops

##### While Loops

In [107]:
i = 0
# break & continue keywords are also available
while i <= 5
    println(i)
    i += 1
end

0
1
2
3
4
5

##### For Loops

In [110]:
# Defining a range
for i = 1:5
    println(i)
end

# Over a list
for item in ['a', 'b', 'c']
    println(item)
end

1
2
3
4
5
a
b
c

In [114]:
for i in [1, 2, 3], j in [4, 5, 6]
    println((i, j))
end

(1, 4)
(1, 5)
(1, 6)
(2, 4)
(2, 5)
(2, 6)
(3, 4)
(3, 5)
(3, 6)

### Exception Handling
Check [Built-in Exceptions](https://docs.julialang.org/en/v1/manual/control-flow/#Built-in-Exceptions-1)

#### Throw Function

In [117]:
a = [1, 2, 3]
b = [1, 2]
size(a) == size(b) || throw(DimensionMismatch("Dimensions don't have the same size."))

DimensionMismatch: DimensionMismatch("Dimensions don't have the same size.")

#### Error

In [3]:
age = 16
age >= 18 ? "Ok" : error("Not Allowed")

ErrorException: Not Allowed

#### Try/Catch

In [9]:
try
    sqrt("nine")
catch e
    print("Numeric value needed!")
end

Numeric value needed!

#### finally Clauses

In [13]:
# finally guarantees that an opened file is closed or any other task is cleaned up
try
    # operate on a file
    println("opened")
finally
    # close the file
    println("closed")
end

opened
closed

### Data Structures

#### Tuples

In [54]:
tuple_data = (0.0, "Julia", 2*3)
single_tuple = (1,)
empty_tuple = ()
named_tuple_data = (name="Julia", age=8)

println(tuple_data, single_tuple, empty_tuple)
println(tuple_data[2])
println(named_tuple_data.age)

(0.0, "Julia", 6)(1,)()
Julia
8

### Tasks (to be filled)
https://docs.julialang.org/en/v1/manual/control-flow/#man-tasks-1

In [4]:
function tasks(c::Channel)
    put!(c, "Start")
    for n=1:4
        put!(c, n)
    end
    put!(c, "End")
end

t = Channel(tasks)
take!(t)
take!(t)
take!(t)

2

# Stuff to be used later

### Reading and Writing to CSV

In [87]:
using CSV
using DataFrames

f = "/Users/erfan/f2.csv" # In Windows you may need to use double-backslashes (\\Users\\user\\f.csv)

df = DataFrame(Name = ["Jon","Bill","Maria","Julia","Mark"], 
               Age = [22,43,81,52,27],
               Salary = [30000,45000,60000,50000,55000]
               )
println(df)
println("\nHighest Salary is: ", maximum(df.Salary))

CSV.write(f, df)
CSV.read(f)

5×3 DataFrame
│ Row │ Name   │ Age   │ Salary │
│     │ String │ Int64 │ Int64  │
├─────┼────────┼───────┼────────┤
│ 1   │ Jon    │ 22    │ 30000  │
│ 2   │ Bill   │ 43    │ 45000  │
│ 3   │ Maria  │ 81    │ 60000  │
│ 4   │ Julia  │ 52    │ 50000  │
│ 5   │ Mark   │ 27    │ 55000  │

Highest Salary is: 60000

5×3 DataFrame
│ Row │ Name   │ Age   │ Salary │
│     │ String │ Int64 │ Int64  │
├─────┼────────┼───────┼────────┤
│ 1   │ Jon    │ 22    │ 30000  │
│ 2   │ Bill   │ 43    │ 45000  │
│ 3   │ Maria  │ 81    │ 60000  │
│ 4   │ Julia  │ 52    │ 50000  │
│ 5   │ Mark   │ 27    │ 55000  │

In [15]:
nothing # Nothing type

For ML we have XGBoost.jl, Lathe.jl, MLBase, and Flux.jl:
Pkg.add("XGBoost")
Pkg.add("Lathe")
Pkg.add("Flux")
Pkg.add("MLBase")
For stats we have StatsBase.jl, GLM.jl, Lathe.jl, and Distributions.jl:
Pkg.add("StatsBase")
Pkg.add("GLM")
Pkg.add("Lathe")
Pkg.add("Distributions")
For Preprocessing we have MLDataUtils.jl, and Lathe.jl:
Pkg.add("MLDataUtils")
Pkg.add("Lathe")

### Modules and Scope of Variables

In [ ]:
# GreetingModule.jl
module GreetingModule
    say_hi() = println("hi")
    export say_hi
end  # module

In [58]:
# include("./GreetingModule.jl") For demnostration purposes. We must load the code base first, then load the needed modules
# import .GreetingModule

# GreetingModule.say_hi()

In [56]:
# Global Scope
module A
    a = 1 # global in A's scope
    show_var() = println(a)
    export say_hi
end;

module B
    import ..A # Can also use 'using ..A'
    b = 2 + A.a
    A.show_var()
    module C
        c = 3
    end
    d = C.c * b
    println(d)
end

1
9

WARNING: replacing module A.
WARNING: replacing module B.

Main.B

In [44]:
# Local Scope
for i = 1:4
    x = "Num $i"
    for j = 1:2
        println(x)
    end
end

Num 1
Num 1
Num 2
Num 2
Num 3
Num 3
Num 4
Num 4

In [46]:
# Define local variable
for i = 1:4
    for j = 1:2
        local x = "First loop shall not see me!"
    end
    println(x)
end

UndefVarError: UndefVarError: x not defined

In [49]:
for i = 1:4
    global p = "PING!"
end

println(p)

PING!

### Documentation (Docstrings)

In [62]:
"""
    mulitply(x, y)

Mulitply `x` and `y` together.

# Arguments
- `x::Integer`: a number 
- `y::Integer=1`: another number

# Examples
```julia-repl
julia> mulitply(2, 3)
```
"""
mulitply(x, y) = println(x * y)


mulitply(4, 4)

16

### Utilites

In [20]:
@time for i = 1:999
    i^20
end


function math_op(x, y)
    @time x.*y
end

math_op([10, 100, 1000, 10000], [20, 200, 2000, 20000])

  0.000005 seconds
  0.000006 seconds (1 allocation: 112 bytes)

4-element Array{Int64,1}:
       200
     20000
   2000000
 200000000

In [30]:
x = 2
x::Int

function sinc(x)::Float64
    if x == 0
        return 1
    end
    return sin(pi*x)/(pi*x)
end

sinc(30)

-1.1437264410803267e-16

### Types and Methods vs. Classes

In [9]:
struct Person
    race::String
    name::String
    age::Int
end

p1 = Person("Time Lord", "The Master", 2000)

typeof(p1)

Person

In [10]:
# Access the field values of a composite object using the traditional dot notation
p1.race

"Time Lord"

In [6]:
#<: operator, which indicates whether its left hand operand is a subtype of its right hand operand.

String <: Int
isa(226, Int)

true

In [1]:
# MultiDispatch: Based on arguments and their types, the appropriate mehtod is dispatched
addition(x::Float64, y::Int) = x + y
addition(x::Number, y::Number) = x + y # More general and would accept arguments that are instances of Number(like Float64, Int and ...)

println(addition(4.3, 6.12))
println(addition(4, 6))

10.42
10